<!DOCTYPE html>
<html>
	<head>
		<style>

			body
			{
				text-align: center;
				background-color: rgb(20, 238, 20);
			}

			#top
			{
				font-size: 36px;
				font-weight: bold;
				color:red;
			}

			#middle
			{
				font-size: 24px;
			}

			#botton
			{
				font-size: 12px;
			}

		</style>
		<title>CSS_1</title>
	</head>
	<body>
		<div id="top">
			John Harvard
		</div>
		<div id="middle">
			Welcom to my home page!
		</div>
		<div id="botton">
			Copyright &#169; John Harvard
		</div>
	</body>
</html>